---
import { ViewTransitions } from "astro:transitions";
import Toast from "../components/Toast.astro";
import "../styles/styles.css";
import Footer from "../components/Footer.astro";
import { GalleryHorizontal, LayoutGrid } from "lucide-react";

const meta = {
  title: "The Beauty of Earth",
  description: "Photography from around the world.",
};

const { title, description } = meta;

const activeItem: "grid" | "carousel" = Astro.url.pathname.includes("grid")
  ? "grid"
  : "carousel";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>

    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <style>
      html {
        font-family: system-ui, sans-serif;
        height: 100%;
        color: #fff;
        scroll-behavior: smooth;
      }

      body {
        height: 100%;
        overflow: hidden;
        background: var(--backgroundColor, #13151a);
        transition: background 500ms ease-out;
        scroll-behavior: smooth;
      }

      .layout-item {
        @apply flex items-center justify-center rounded-full p-2 transition-colors hover:bg-white/10;
      }

      .layout-item.active {
        @apply bg-white/20;
      }
    </style>

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <ViewTransitions />
  </head>
  <body class="flex flex-col">
    <main
      style="scrollbar-gutter: stable;"
      class="flex h-full flex-1 flex-col gap-8 overflow-auto bg-transparent px-4 pt-4 md:gap-12 md:px-8"
    >
      <div class="col-span-2 flex flex-col gap-4 lg:gap-6">
        <h1
          class="z-10 px-4 text-center text-4xl font-bold text-white md:p-0 md:text-6xl"
          style="letter-spacing: -1.2px"
        >
          the beauty of earth
        </h1>
        <p
          class="description text-transparent-500 hidden text-center text-sm md:block"
        >
          images from around the world. <br />
           explore the beauty of our planet.
        </p>

        <section class="flex items-center justify-center gap-4 text-white/80">
          <a
            href="/"
            class={`layout-item ${activeItem === "carousel" ? "active" : ""}`}
          >
            <GalleryHorizontal strokeWidth={1} size="20" />
          </a>
          <a
            href="/grid"
            class={`layout-item ${activeItem === "grid" ? "active" : ""}`}
          >
            <LayoutGrid strokeWidth={1} size="20" />
          </a>
        </section>
      </div>

      <slot />
    </main>

    <Footer />
    <Toast />

    <style is:global>
      .icon {
        @apply text-gray-200;
      }

      .icon-hover {
        @apply transition-colors duration-150 hover:text-gray-400;
      }

      .text-transparent-500 {
        color: rgba(255, 255, 255, 0.83);
      }

      button[disabled] {
        cursor: not-allowed;
        opacity: 0.5;
        transition: none;

        &:hover {
          color: inherit;
          opacity: 0.5;
        }
      }

      p.description {
        line-height: 18px;
        display: none;
      }

      @media screen and (min-height: 670px) {
        p.description {
          display: block;
        }
      }

      @keyframes bg-animation {
        from {
          background-color: rgba(0, 0, 0, 0.8);
          backdrop-filter: blur(40px);
        }
        99% {
          z-index: 30;
        }
        to {
          background-color: transparent;
          backdrop-filter: blur(0px);
          z-index: -1;
        }
      }
    </style>
    <script src="../store/image.effects.ts"></script>
  </body>
</html>
