---
import Toast from "../components/Toast.astro";
import "../styles/styles.css";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>

    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <style>
      html {
        font-family: system-ui, sans-serif;
        height: 100%;
        color: #fff;
      }

      body {
        height: 100%;
        overflow: hidden;
        background: var(--backgroundColor, #13151a);
        transition: background 500ms ease-out;
      }
    </style>

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
  </head>
  <body>
    <slot />

    <Toast />

    <style is:global>
      .icon {
        @apply text-gray-200;
      }

      .icon-hover {
        @apply transition-colors duration-150 hover:text-gray-400;
      }

      .text-transparent-500 {
        color: rgba(255, 255, 255, 0.83);
      }

      button[disabled] {
        cursor: not-allowed;
        opacity: 0.5;
        transition: none;

        &:hover {
          color: inherit;
          opacity: 0.5;
        }
      }
    </style>
    <script src="../store/image.effects.ts"></script>
  </body>
</html>
